#introduction {
	height: 500vw;
	background: linear-gradient(#BCBCFF, #0000FF);
	font-size: 3rem;
	color: black;
}

#introduction > .header_container {
	margin-top: 100px;
	text-align: center;
	display: block;
}

#underwater{
	height:200vw;
	font-size: 3rem;
	color: white;
}