#introduction {
	height: 5000px;
	background-color: #BBBBBB;
}

@media only screen and (max-width: 500px){
	#introduction {
	  height: 500px;
	  background-color: #BB00BB;
	}
}

#introduction > .header_container {
	margin-top: 100px;
	text-align: center;
	display: block;
}

#introduction > .header-container > h1 {
	font-size: 3rem;
	color: white;
}

#introduction > .header-container > h1::before {
	content: "Welcome to";
	color: white;
	font-size: 2rem;
}